archive/


# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*.m4a
*.aifc

# Node modules if you add them later
node_modules/
package-lock.json

# Environment variables
.env

# Build files
dist/
build/

# Logs
*.log 